h1{
  padding: 50px;
  font-family: monospace;
  background-color: rgb(84, 153, 199);
  text-align: center;
  margin: auto;
  color :white;
  margin-top: -7px;
}
body{
  background-color: rgb(144, 148, 151);
  color: #FAFCFD;
}
img{
height: 250px;
width: auto;
}
nav{
  padding: 15px;
  background:#1B2631;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}
nav a{
  text-decoration: none;
  padding: inherit;
  background-color: #2E4053 ;
  color: white;
}
nav a:hover{
  opacity: 0.5;
  color: #F6DDCC;
}
